@charset "UTF-8";
/* vim: se sw=2 ts=2 sts=2 et fdm=marker: */
/* 常用样式缩写 */
/* float */
.Lfll { float: left; }

.Lflr { float: right; }

.Lcfl { clear: left; }

.Lcfr { clear: right; }

.Lcfb { clear: both; }

.Lfz10 { font-size: 10px; }

.Lfz12 { font-size: 12px; }

.Lfz14 { font-size: 14px; }

.Lfz16 { font-size: 16px; }

.Lfz18 { font-size: 18px; }

.Lfz20 { font-size: 20px; }

/* color */
.Lcfff { color: #FFF; }

.Lcf60 { color: #F60; }

.Lcc00 { color: #C00; }

.Lcf00 { color: #F00; }

.Lc390 { color: #390; }

.Lc333 { color: #333; }

.Lc666 { color: #666; }

.Lc999 { color: #999; }

/* text-align */
.Ltal { text-align: left; }

.Ltac { text-align: center; }

.Ltar { text-align: right; }

.Lfwb { font-weight: bold; }

/* font-family */
.Lffar { font-family: Arial; }

.Lfftm { font-family: Tahoma; }

.Lffst { font-family: \5B8B\4F53; }

.Lffyh { font-family: \5FAE\8F6F\96C5\9ED1; }

/* text-indent */
.Lti5 { text-indent: 5px; }

.Lti10 { text-indent: 10px; }

.Lti15 { text-indent: 15px; }

.Lti20 { text-indent: 20px; }

.Lti25 { text-indent: 25px; }

.Lti30 { text-indent: 30px; }

.Lti35 { text-indent: 35px; }

.Lti40 { text-indent: 40px; }

/* margin and padding */
.Lmt5 { margin-top: 5px; }

.Lmr5 { margin-right: 5px; }

.Lmb5 { margin-bottom: 5px; }

.Lml5 { margin-left: 5px; }

.Lpt5 { padding-top: 5px; }

.Lpr5 { padding-right: 5px; }

.Lpb5 { padding-bottom: 5px; }

.Lpl5 { padding-left: 5px; }

.Lmt10 { margin-top: 10px; }

.Lmr10 { margin-right: 10px; }

.Lmb10 { margin-bottom: 10px; }

.Lml10 { margin-left: 10px; }

.Lpt10 { padding-top: 10px; }

.Lpr10 { padding-right: 10px; }

.Lpb10 { padding-bottom: 10px; }

.Lpl10 { padding-left: 10px; }

.Lmt15 { margin-top: 15px; }

.Lmr15 { margin-right: 15px; }

.Lmb15 { margin-bottom: 15px; }

.Lml15 { margin-left: 15px; }

.Lpt15 { padding-top: 15px; }

.Lpr15 { padding-right: 15px; }

.Lpb15 { padding-bottom: 15px; }

.Lpl15 { padding-left: 15px; }

.Lmt20 { margin-top: 20px; }

.Lmr20 { margin-right: 20px; }

.Lmb20 { margin-bottom: 20px; }

.Lml20 { margin-left: 20px; }

.Lpt20 { padding-top: 20px; }

.Lpr20 { padding-right: 20px; }

.Lpb20 { padding-bottom: 20px; }

.Lpl20 { padding-left: 20px; }

.Lmt25 { margin-top: 25px; }

.Lmr25 { margin-right: 25px; }

.Lmb25 { margin-bottom: 25px; }

.Lml25 { margin-left: 25px; }

.Lpt25 { padding-top: 25px; }

.Lpr25 { padding-right: 25px; }

.Lpb25 { padding-bottom: 25px; }

.Lpl25 { padding-left: 25px; }

.Lmt30 { margin-top: 30px; }

.Lmr30 { margin-right: 30px; }

.Lmb30 { margin-bottom: 30px; }

.Lml30 { margin-left: 30px; }

.Lpt30 { padding-top: 30px; }

.Lpr30 { padding-right: 30px; }

.Lpb30 { padding-bottom: 30px; }

.Lpl30 { padding-left: 30px; }

.Lmt35 { margin-top: 35px; }

.Lmr35 { margin-right: 35px; }

.Lmb35 { margin-bottom: 35px; }

.Lml35 { margin-left: 35px; }

.Lpt35 { padding-top: 35px; }

.Lpr35 { padding-right: 35px; }

.Lpb35 { padding-bottom: 35px; }

.Lpl35 { padding-left: 35px; }

.Lmt40 { margin-top: 40px; }

.Lmr40 { margin-right: 40px; }

.Lmb40 { margin-bottom: 40px; }

.Lml40 { margin-left: 40px; }

.Lpt40 { padding-top: 40px; }

.Lpr40 { padding-right: 40px; }

.Lpb40 { padding-bottom: 40px; }

.Lpl40 { padding-left: 40px; }

/* position */
.Lposa { position: absolute; }

.Lposr { position: relative; }

.Lposf { position: fixed; }

.Lposs { position: static; }

/* display */
.Ldb { display: block; }

.Ldn { display: none; }

.Ldib { display: inline-block; }

/* overflow */
.Lovh { overflow: hidden; }

.Lovv { overflow: visible; }

/* visibility */
.Lvv { visibility: visible; }

.Lvh { visibility: hidden; }

/* background-color */
.Lbgcr { background-color: red; }

.Lbgcw { background-color: white; }

.Lbgcb { background-color: blue; }

.Lbgcg { background-color: green; }

.Lbgco { background-color: orange; }

.Lbgcy { background-color: yellow; }

/* other */
.Lon { outline: none; }

.Lcurp { cursor: pointer; }

.Ldbx { display: -webkit-box; display: -moz-box; display: -ms-box; }

.Lbpc { -webkit-box-pack: center; -moz-box-pack: center; -ms-box-pack: center; box-pack: center; }

.Lbpe { -webkit-box-pack: end; -moz-box-pack: end; -ms-box-pack: end; box-pack: end; }

.Lbac { -webkit-box-align: center; -moz-box-align: center; -ms-box-align: center; box-align: center; }

.Lcfx { zoom: 1; }

.Lcfx:before, .Lcfx:after { content: ""; display: table; }

.Lcfx:after { clear: both; }

.Lmlra { margin-left: auto; margin-right: auto; }

/* vim: se sw=2 ts=2 sts=2 et fdm=marker: */
.oyuan { background-color: #ce3a37; }

.online .page { background-image: url(../images/activityBg.jpg); background-size: 100% auto; height: 60%; width: 100%; }

select { /*margin-left: 15px;*/ border: none; width: 100px; height: 20px; outline: none; appearance: none; -webkit-appearance: none; background: url(../images/stbt.png) no-repeat right center; background-size: 20px 20px; background-position-y: 4px; }

section { /*background-color: white;*/ margin-bottom: 15px; }

.shanlin section { margin-bottom: 0 !important; /*margin: 10px; box-sizing: border-box;*/ }

.shanlin .page { padding: 10px; width: 100%; box-sizing: border-box; }

article { background-color: white; }

.font2 { font-size: 14px; }

.tuku { /*background-color: #eeeeee*/ background-color: #f7f7f7; }

.backBt { display: inline-block; position: absolute; left: 10px; }

.tit { /*display: inline-block;*/ margin: 0 auto; /*width: 18%;*/ font-size: 18px !important; }

nav { width: 100%; height: 34px; background-color: white; border-bottom: 1px solid #E5E5E8; border-top: 1px solid #E5E5E8; }

nav div { height: 40px; line-height: 34px; }

.backBt > img { height: 100%; float: left; }

.backBt a { float: left; color: black; padding-left: 5px; }

.oyBn > img { width: 100%; }

.oyBn { width: 100%; background-size: 100% 100%; background-image: url(../images/0yuanBg.jpg); background-repeat: no-repeat; }

.oyuan input { border: 0px; float: left; height: 30px; background-color: #EEEEEE; }

.input { background: #eeeeee; height: 32px; width: 90%; margin: 0 auto; border-radius: 4px; padding: 2px; margin-top: 10px; }

.input:nth-child(1) { margin-top: 0; }

.input img { float: left; padding: 7px; height: 30px; width: 30px; }

.oysbmt { background-color: #57bd56 !important; }

#oysbmt { width: 100%; height: 100%; color: white; text-align: center; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #64717d; }

input:-moz-placeholder, textarea:-moz-placeholder { color: #64717d; }

input::-moz-placeholder, textarea::-moz-placeholder { color: #64717d; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #64717d; }

option { color: #64717d; }

.MySubscription { /*background-color: #EEEEEE;*/ height: 40px; /*width: 100%;*/ position: relative; margin: 0 10px; }

.MySubscription span { line-height: 34px; display: inline-block; /*width: 20%;*/ height: 34px; margin-left: 5px; }

#more { /*color: red;*/ border-radius: 2px; /*display: inline-block;*/ /*position: absolute; right: 10px; top: 6px;*/ margin: 5px 0; color: #ff1a2c; width: 40px; float: right; /*background-color: #ff1a2c;*/ text-align: center; line-height: 28px; height: 28px; }

section { width: 100%; }

.optionBox { /*border-top: 2px solid red;*/ background: white; padding: 5px 0; display: none; padding-top: 0; }

.optionBox li { display: inline-block; /*margin-left: 10px;*/ margin-right: 10px; border-radius: 4px; /*border: 1px solid #37aa05;*/ padding: 2px 5px; margin-top: 10px; /*color: #37aa05;*/ color: #999; font-size: 14px; }

.optionBox .liAction { color: #ff1a2c; }

.MySubscription > div:nth-child(1) { border-bottom: 2px solid red; height: 34px; }

.tukuBox { /*padding: 10px;*/ /*padding-top: 0;*/ box-sizing: border-box; }

.tukuBox.twice { background-color: #fff; }

.tukuBox.twice .tukuTag { width: 50%; float: left; margin-bottom: 10px; height: 148px; overflow: hidden; }

.tukuBox.twice .tukuTag:nth-child(odd) { padding-left: 3.125%; padding-right: 1.562%; }

.tukuBox.twice .tukuTag:nth-child(even) { padding-left: 1.562%; padding-right: 3.125%; }

.tukuBox.twice .tukuTag img { display: none; }

.tukuBox.twice .imgcontainer { width: 100%; display: inline-block; height: 120px; background-repeat: no-repeat; background-size: cover; background-position: center center; }

.tukuBox.twice .info_box { display: none; }

.tukuBox.twice .tukutettbox { padding: 0 5px; }

.tukuBox.twice .tukutettbox div { margin-bottom: 0; }

.tukuBox.twice .model .desc { display: none; }

.tukuTag { /*padding: 5px;*/ background-color: white; position: relative; /*border: 1px solid #e5e5e8;*/ margin-bottom: 15px; }

.tukuTag img { width: 100%; }

.imgcontainer { display: none; }

.Price { color: #ff6c00; }

.model, .Price { width: 68%; display: inline-block; }

.Collection { width: 70px; display: inline-block; position: absolute; right: 5px; /*position: relative;*/ }

.stock { display: inline-block; position: absolute; right: 5px; }

.cpic, .Collection > span { float: left; height: 20px; }

.Collection > span { /*margin-left: 30px;*/ }

.cpic { background-image: url(../images/Collection0.png); background-size: 100% 100%; width: 22px; height: 18px; /*margin-top: 2px*/ }

.cpicAction { background-image: url(../images/Collection1.png) !important; }

/*.liAction { background-color: #37AA05; color: white!important }*/
.sxBox > img { width: 33%; height: 60px; }

.sxBox { padding: 5px 0; height: 70px; border-bottom: 1px solid #E5E5E8; /*box-sizing: border-box;*/ }

.sxBox :nth-last-child { border-bottom: 0; }

.box1 { box-sizing: border-box; background-color: white; height: 44px; overflow: hidden; margin-bottom: 0; /*height: 200px;*/ }

.sxBox img, .sxBox span { float: left; }

.sxBox span { width: 63%; font-size: 11px; padding: 4px; padding-top: 0; height: 38px; }

.sxBox > div { color: #37AA05; font-size: 11px; width: 63%; text-align: right; float: left; }

.details { background-color: black; padding: 15px; box-sizing: border-box; }

.details img { width: 100%; }

.details span { color: white; float: left; }

.details > div { height: 60px; /*float: left;*/ }

.text1 { font-size: 22px; }

.text2 { font-size: 13px; }

.detailsTextBox { margin-top: 5px; width: 40%; float: left; }

.detailsPrice > span:first-child { color: #aa8a09; font-size: 50px; }

.detailsPrice > span:nth-child(2) { line-height: 70px; }

.detailsPrice { float: right; margin-top: 5px; }

.detailsFd { height: 44px; position: static; }

.detailsFd .inner { height: 44px; width: 100%; border-top: 1px solid #e9e9e9; position: fixed; bottom: 0px; background-color: white; margin-bottom: 0px !important; }

.detailsFd .tab { width: 49%; height: 100%; display: inline-block; box-sizing: border-box; position: relative; text-align: center; }

.detailsFd .tab.w2-1 { width: 49%; }

.detailsFd .tab.w3-1 { width: 32%; }

.detailsFd .tab:before { content: ''; border-left: 1px solid #e9e9e9; position: absolute; top: 11px; left: 0px; height: 22px; overflow: hidden; }

.detailsFd .tab:first-child:before { display: none; }

.detailsFd .tab img { margin-top: 7px; margin-right: 5px; width: 20px; height: 20px; float: left; }

.detailsFd .tab .link { display: block; }

.detailsFd .tab .text { height: 12px; line-height: 12px; font-size: 10px; display: block; margin-top: -5px; }

.detailsFd .icon_gallery, .detailsFd .icon_gray { margin-top: 3px; }

.detailsContent > img { width: 100%; }

.detailsContent { padding-bottom: 35px; }

.xshdBox { width: 100%; }

.xshdBoxTit { background-color: #ff7e00; padding: 5px; color: white; box-sizing: border-box; }

.xshdBoxm { background-color: #ffca26; height: 100px; box-sizing: border-box; padding: 5px; }

.xshd { background-color: #6c1316; }

.xshd article { margin-bottom: 15px; }

.dialog { width: 250px; height: 170px; background-color: white; position: fixed; top: 20%; }

.dialogTIt { text-align: center; font-size: 18px; color: #ff5000; margin-top: 20px; font-weight: bold; }

.dialogtest { text-align: center; font-size: 13px; color: #AAAAAA; margin-top: 30px; }

.dialogBt span { text-align: center; background-color: #ff5000; color: white; padding: 5px 30px; }

.dialogBt { margin-top: 40px; text-align: center; }

.dialogBg { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(111, 111, 111, 0.5); display: none; }

.hongbaobg { background-image: url(../images/hongbaoBg.jpg); height: 100%; background-size: 100% 100%; width: 100%; padding-top: 15%; }

.hongbaodialog { width: 76%; height: 85%; background-image: url(../images/hb_03.jpg); margin: 0 auto; background-size: 100% 100%; background-repeat: no-repeat; }

.scratchpad { width: 60%; height: 50px; margin: 0 auto; }

@media (max-width: 500px) { .scratchpad { width: 60%; } }

.xshd { /*background-color: #cd382f;*/ background-size: 100%; background-position-y: 44px; background-repeat: no-repeat; }

.stage { height: 200px; background-image: url(../images/gglBg.png); background-size: 100% 100%; }

.hongbaodialog > p { color: white; margin-top: 5%; }

.hongbaodialog { padding-top: 50%; text-align: center; }

#gethb { padding: 5% 10%; background-image: url(../images/hbBg.png); background-size: 100% 100%; margin: 0 auto; margin-top: 5%; width: 90%; }

#surplus { color: white; position: relative; font-size: 14px; top: 24px; }

#myhb { position: absolute; right: 20px; top: 60px; border-radius: 4px; color: red; border: 1px solid red; }

.myRedP { background-color: #efeff4; }

.myRedPBox { position: relative; border: 1px solid #e5e5e8; background: white; height: 70px; margin-top: 20px; padding: 7px; }

.myRedPBox > span { color: #64717d; }

.moneynow > div { margin-top: 10px; }

.moneynow p { color: #eb4f38; display: inline-block; font-size: 27px; font-weight: bold; }

article.myRedPBox > .span1 { margin-top: 5px; margin-top: 14px; font-size: 20px; color: black; width: 80%; margin-bottom: 5px; }

article.myRedPBox > .span2 { width: 80%; margin-top: 5px; font-size: 14px; }

.integral { position: absolute; right: 20px; color: #67c367 !important; font-size: 27px; top: 25px; }

.alist { width: 100%; height: 90px; margin-bottom: 20px; position: relative; /*margin-top: 20px;*/ overflow: hidden; }

@media all and (min-width: 320px) { .alist { height: 76px; } }

.alist > img { width: 100%; margin: auto; position: absolute; top: 0; bottom: 0; }

.alist span { position: absolute; top: 30px; color: white; right: 20px; }

.tukutettbox { padding: 10px 15px; /*padding-left: 15px; padding-right: 15px; padding-bottom: 0;*/ box-sizing: border-box; }

.tukutettbox .model { font-size: 14px; color: #333; line-height: 24px; margin-bottom: 0; }

.tukutettbox .type { line-height: 24px; height: 24px; overflow: hidden; }

.tukutettbox .desc { font-size: 12px; color: #999; margin-top: -4px; line-height: 20px; margin-bottom: 0; }

.tukutettbox .info_box { width: 32%; float: right; text-align: right; }

.tukutettbox .icon_box { width: 33%; float: left; text-align: center; }

.tukutettbox .icon_box span { font-size: 10px; color: #999; display: block; text-align: center; /*width: 30px;*/ margin-top: -4px; line-height: 20px; }

.tukutettbox div { margin-bottom: 5px; }

#mallBanner > img { width: 100%; }

.mall header nav { position: relative; }

icon { width: 70px; height: 70px; background-image: url(../images/mallIcon_03.png); position: absolute; background-size: 100% 100%; top: -40px; left: 20px; }

.mall header li { text-align: center; float: left; width: 33%; }

.mall header li div { color: #64717D; /*display: block;*/ font-size: 14px; line-height: 18px; margin-top: 1px; height: 18px; }

.mall header ul { margin-left: 100px; }

.mall header nav { height: 40px; /*position: relative;*/ }

/*轮播*/
#lunbotu { width: 100%; position: relative; overflow: hidden; visibility: hidden; }

#lunbotu .swipe-wrap { width: 100%; position: relative; }

#lunbotu .swipe-wrap p { position: absolute; bottom: 0; left: 0; height: 30px; line-height: 30px; background: rgba(0, 0, 0, 0.4); width: 100%; color: #fff; padding-left: 10px; box-sizing: border-box; }

#lunbotu .swipe-wrap > div { float: left; position: relative; width: 100%; }

#lunbotu .swipe-wrap > div > img { width: 100%; display: inherit; }

.yuanxian { height: 87px; width: 100%; position: absolute; padding-top: 10px; box-sizing: border-box; bottom: -40px; left: 0; /*background-color: white;*/ /*border-radius: 300%;*/ }

.yuanxian ul { margin: 0 auto; width: 60px; list-style: none; }

.yuanxian ul li { float: left; width: 10px; height: 10px; background: white; border-radius: 50%; margin-left: 10px; }

.yuanxian ul li.cur { background: red; }

.mall #search { background: white; border-radius: 8px; width: 90%; height: 40px; margin: 0 auto; margin-top: 15px; padding: 5px; margin-bottom: 20px; }

.mall #search div { height: 25px; width: 25px; /*display: inline-block;*/ float: left; background-size: 100% 100%; background-image: url(../images/searchicon.jpg); }

.mall #search input { /*display: inline-block;*/ float: left; height: 30px; margin-left: 20px; width: 70%; }

.menu li { float: left; width: 23%; text-align: center; font-size: 12px; height: 34px; line-height: 34px; background: white; border-bottom: 1px solid #E5E5E8; }

.menu .liAction { border-bottom: 2px solid #EB4F38; color: black !important; }

.menu { height: 67px; }

.mallfd { height: 35px; border-top: 1px solid #E5E5E8; position: fixed; bottom: 0px; background-color: white; margin-bottom: 0px !important; }

.mallfd img { margin-top: 7px; margin-right: 5px; width: 20px; height: 20px; float: left; }

.mallfd .tab { width: 32%; height: 100%; display: inline-block; box-sizing: border-box; }

.mallfd .tab div { margin: 0 auto; width: 90px; height: 100px; }

.mallfd .tab span { height: 35px; line-height: 35px; float: left; }

#fdH { height: 100px; width: 100%; }

.mallBoxTit { padding: 5px; border-bottom: 2px solid #eb4f38; }

.mallBOx { width: 90%; margin: 0 auto; }

.mallBoxitem { width: 48%; overflow: hidden; padding: 5px; position: relative; box-sizing: border-box; float: left; }

.mallBoxitem:nth-child(odd) { margin-left: 4%; }

.mallBoxitem img { width: 100%; overflow: hidden; }

.mall .model { width: 100%; font-size: 14px; }

.mall .model p { display: inline-block; }

.mall .Collection { font-size: 12px; }

.mall .cpic { width: 10px; height: 10px; }

.mall .Collection { width: 50px; }

.clear { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; zoom: 1; }

#share { position: fixed; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.7); z-index: 00999999; display: none; top: 0; }

#share img { position: absolute; right: 0; width: auto; }

#share div { position: absolute; right: 0; color: white; font-size: 18px; width: 150px; top: 119px; right: 97px; }

.icon_gallery { width: 24px; height: 24px; display: inline-block; background-image: url(../images/bg_icon_gallery.png); background-size: 24px auto; }

.icon_gallery.share { background-position: 0 0; }

.icon_gallery.visit { background-position: 0 -25px; }

.icon_gallery.like { background-position: 0 -50px; }

.icon_gallery.search { background-position: 0 -75px; }

.icon_gallery.light { background-position: 0 -100px; }

.icon_gallery.menu { background-position: 0 -125px; }

.icon_gallery.unlike { background-position: 0 -150px; }

.icon_gallery.onelist { background-position: 0 -175px; }

.icon_gallery.twicelist { background-position: 0 -200px; }

.icon_classify { width: 20px; height: 20px; display: inline-block; background-image: url(../images/bg_icon_classify.png); background-size: 100% auto; }

#title .menu_box, #title .query_box, #title .ques_box { padding: 10px; float: left; width: 24px; height: 24px; box-sizing: content-box; }

#title .query_box, #title .ques_box { display: inline-block; padding: 10px 5px; }

#title .icon_gallery { float: left; }

#title .ctl_box { float: right; height: 44px; overflow: hidden; }

#title .icon_box { height: 44px; padding: 10px 5px; }

#title_back { background-image: none; text-indent: 0; position: relative; }

#title_back .back_box { position: absolute; left: 0; top: 0; padding: 10px 5px; height: 44px; }

.search_box { width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 10; display: none; }

.search_box.show { display: block; background-color: rgba(51, 51, 51, 0.5); }

.search_box .content_box { background-color: #f0eff5; margin-top: 44px; padding: 8px 10px; overflow: hidden; }

.search_box .input1 { line-height: 28px; height: 28px; border: 1px solid #ebebeb; padding: 0 5px; width: 86%; float: left; font-size: 13px; -webkit-border-radius: 6px; -moz-border-radius: 6px; -ms-border-radius: 6px; border-radius: 6px; }

.search_box .btn1 { color: #ff1a2c; background-color: transparent; width: 12%; line-height: 28px; float: right; font-size: 14px; }

.subscript_box { width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 11; display: none; }

.subscript_box.show { display: block; background-color: rgba(51, 51, 51, 0.5); }

.subscript_box .inner { height: 100%; width: 62.5%; background-color: #FFF; }

.subscript_box .MySubscription { margin-top: 44px; }

.filter_bar { height: 44px; line-height: 44px; border-top: 1px solid #eaeaea; border-bottom: 1px solid #eaeaea; font-weight: normal; font-size: 14px; position: fixed; top: 0; left: 0; z-index: 2; width: 100%; padding-top: 87px; overflow: hidden; }

.filter_bar.expand { height: 100%; overflow: auto; background-color: rgba(51, 51, 51, 0.5); }

.filter_bar .top_cate { background-color: #fff; border-bottom: 1px solid #eaeaea; height: 44px; overflow: hidden; margin-top: -44px; }

.filter_bar .cate_item { color: #999; font-size: 14px; float: left; text-align: center; }

.filter_bar .cate_item.active { color: #ff1a2c; font-weight: bold; }

.filter_bar .cate_item.active .icon_arrow:before { background-color: #ff1a2c; }

.filter_bar .cate_item.active .icon_arrow:after { background-color: #ff1a2c; }

.filter_bar .cate_item.selectChild { color: #ff1a2c; }

.filter_bar .cate_item.p1 { width: 100%; }

.filter_bar .cate_item.p2 { width: 50%; }

.filter_bar .cate_item.p3 { width: 33.33%; }

.filter_bar .cate_item.p4 { width: 25%; }

.filter_bar .cate_item.p5 { width: 20%; }

.filter_bar .main_box { height: 80%; position: relative; background-color: #fff; }

.filter_bar .filter_t1 { height: 100%; overflow: hidden; background-color: #fff; }

.filter_bar .filter_t1 .item { display: block; padding-left: 15px; }

.filter_bar .filter_t1 .item span { display: block; border-top: 1px solid #eaeaea; }

.filter_bar .filter_t1 .item:first-child span { border-top: none; }

.filter_bar .filter_t1 .item.active { color: #ff1a2c; }

.filter_bar .filter_t2 { height: 100%; background-color: #fff; }

.filter_bar .filter_t2 .lbox { width: 50%; float: left; height: 100%; overflow: hidden; background-color: #eaeaea; }

.filter_bar .filter_t2 .rbox { width: 50%; float: left; height: 100%; overflow: hidden; }

.filter_bar .filter_t2 .litem, .filter_bar .filter_t2 .ritem { display: block; padding-left: 15px; }

.filter_bar .filter_t2 .litem.active { color: #ff1a2c; background-color: #fff; }

.filter_bar .filter_t2 .litem { border-top: 1px solid #eaeaea; }

.filter_bar .filter_t2 .litem:first-child { border-top: none; }

.filter_bar .filter_t2 .ritem { border-top: 1px solid #eaeaea; }

.filter_bar .filter_t2 .ritem:first-child { border-top: none; }

.filter_bar .filter_t2 .ritem.active { color: #ff1a2c; }

.filter_bar .icon_arrow { width: 10px; height: 10px; display: inline-block; position: relative; }

.filter_bar .icon_arrow:before, .filter_bar .icon_arrow:after { content: ''; width: 8px; height: 1px; color: #999; position: absolute; top: 50%; left: 50%; background-color: #999; }

.filter_bar .icon_arrow:before { margin-left: -3px; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }

.filter_bar .icon_arrow:after { margin-left: 2px; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }

.filter_bar .icon_arrow.reverse:before { margin-left: 3px; }

.filter_bar .icon_arrow.reverse:after { margin-left: -2px; }

.icon_gray { width: 24px; height: 24px; display: inline-block; background-size: 24px auto; background-image: url(../images/bg_icon_gallery2.png?v=0711); }

.icon_gray.back { background-position: 0 0; }

.icon_gray.threelink { background-position: 0 -25px; }

.icon_gray.location { background-position: 0 -50px; }

.icon_gray.comment { background-position: 0 -75px; }

.icon_gray.visit { background-position: 0 -100px; }

.icon_comment { width: 24px; height: 24px; display: inline-block; background-size: 24px auto; background-image: url(../images/bg_icon_comment.png?v=0711); }

.icon_comment.like { background-position: 0 0; }

.icon_comment.like.active { background-position: 0 -75px; }

.icon_comment.write { background-position: 0 -25px; }

.icon_comment.small_like { background-position: 0 -50px; }

.detail_recommand { border-top: 1px solid #ddd; }

.detail_recommand .topbar { line-height: 24px; font-size: 15px; border-bottom: 1px solid #DDD; padding: 5px 10px; }

.detail_recommand ul { width: 100%; padding-top: 10px; padding-bottom: 10px; }

.detail_recommand li { float: left; width: 50%; }

.detail_recommand .reitem { width: 100%; display: block; padding-left: 10px; padding-right: 10px; }

.detail_recommand .reitem img { width: 100%; }

.detail_recommand .reitem span { font-size: 12px; color: #333; display: block; text-align: center; margin-top: 5px; line-height: 20px; overflow: hidden; }

.detail_comment { background-color: #f7f7f7; padding-top: 35px; }

.detail_comment .topbar { background-color: #fff; border-top: 1px solid #e9e9e9; border-bottom: 1px solid #e9e9e9; line-height: 24px; padding: 5px 10px; margin-top: -35px; color: #999; }

.detail_comment .topbar .icon_comment, .detail_comment .topbar .icon_gallery { vertical-align: -6px; }

.detail_comment .comment { min-height: 35px; position: relative; padding-left: 18.75%; padding-top: 10px; padding-bottom: 10px; }

.detail_comment .comment .lbox { position: absolute; top: 15px; left: 3.125%; width: 13%; }

.detail_comment .comment .lbox img { width: 100%; }

.detail_comment .comment .message { font-size: 14px; color: #333; margin-right: 10px; line-height: 20px; overflow: hidden; }

.detail_comment .comment .userinfo { font-size: 14px; color: #999; margin-right: 10px; line-height: 24px; }

.detail_comment .comment .userinfo .small_like { vertical-align: -6px; }

.detail_comment .comment .timeinfo { color: #999; font-size: 12px; }

.detail_comment .comment .imgbox { margin-top: 5px; }

.detail_comment .comment .imgbox .img { float: left; width: 40px; height: 40px; margin-right: 5px; overflow: hidden; }

.detail_comment .comment .imgbox img { max-width: 40px; }

.detail_comment .comment .reply { margin-top: 5px; padding-top: 5px; border-top: 1px solid #e9e9e9; }

.detail_comment .comment .reply .name { border-left: 2px solid #ff1a2c; padding-left: 5px; line-height: 16px; margin-top: 4px; }

.detail_comment .comment_empty { padding: 20px; text-align: center; line-height: 24px; color: #999; font-size: 14px; }

.detail_comment .loadmore .inner { text-align: center; font-size: 14px; color: #333; line-height: 24px; padding-top: 5px; padding-bottom: 5px; }

.popup_comment { width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 100; background-color: #fff; }

.popup_comment .title { height: 44px; border-bottom: 1px solid #e9e9e9; }

.popup_comment .icon_box { padding: 10px 12px; }

.popup_comment .btn-box { padding: 10px 14px; }

.popup_comment .btn-text { font-size: 15px; color: #ff1a2c; }

.popup_comment .textbox { padding: 10px; }

.popup_comment .tarea1 { width: 100%; padding: 0; font-size: 14px; line-height: 24px; height: 72px; }

.popup_comment .uploadbox { padding: 0 10px 10px; }

.popup_comment .uploadbox .photo { width: 54px; height: 54px; float: left; margin-right: 5px; }

.popup_comment .uploadbox .photo img { width: 100%; }

.popup_comment .uploadbox .add { width: 54px; height: 54px; float: left; border: 2px solid #e9e9e9; position: relative; }

.popup_comment .uploadbox .add:before, .popup_comment .uploadbox .add:after { content: ''; width: 40px; height: 2px; background-color: #e9e9e9; position: absolute; top: 50%; left: 50%; margin-left: -20px; margin-top: -1px; }

.popup_comment .uploadbox .add:after { -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); -ms-transform: rotate(90deg); transform: rotate(90deg); }
